body {
  background: linear-gradient(180deg, #101828 0%, #0d1421 100%);
  color: rgb(245, 245, 245);
  font-family: "Poppins", sans-serif;
  max-width: 80vw;
  margin: auto;
  margin-bottom: 20px;
  min-height: 100vh;
}

.app-title {
  text-align: center;
  margin-top: 5vh;
}

.welcome-container {
  margin-top: 80px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .welcome-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }
  .first-container > .first-container-subtitle {
    font-size: 24px;
    width: 85vw;
    margin-bottom: 16px;
  }
  .first-container {
    max-width: 80% !important;
    margin-right: 20px;
  }

  .first-container > p {
    margin-bottom: 24px;
  }

  #openModalBtn {
    margin-bottom: 20px;
    display: inline-block;
    width: 85vw;
    align-items: center;
  }

  .filter-btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .modal > .modal-content > * {
    padding: 10px 12px 10px 12px;
    margin: 0;
  }
}

.first-container {
  max-width: 40%;
  margin-right: 120px;
}

.first-container-subtitle {
  font-size: 32px;
  font-weight: 700;
}

.second-container-subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.second-container {
  margin-bottom: 40px;
}

.second-container > p {
  font-weight: 200;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  line-height: 1.6;
}

i {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

strong {
  font-weight: 500;
  display: inline;
}

.icon-spacing {
  margin-bottom: 5px;
}

#openModalBtn {
  margin-bottom: 20px;
}

.map-instruction {
  margin-top: 20px;
  margin-bottom: 10px;
}

th,
td,
tbody {
  text-align: left !important;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

table {
  font-size: smaller;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgb(237, 237, 237);
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  color: black;
}

.modal > .modal-content > * {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}

.modal > .modal-content > span {
  padding: 5px 15px 5px 15px;
  margin: 0;
}

.close-filter-modal,
.close-map-modal {
  color: #747373;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close-filter-modal:hover,
.close-filter-modal:focus,
.close-map-modal:hover,
.close-map-modal:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.filter-title {
  font-size: 24px;
  margin-bottom: 12px !important;
}

.filter-btns {
  margin-top: 18px;
}

.map-title {
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

#map {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#vehicle-info > p {
  margin: 0;
  padding: 0;
}
